.wp-block-otk-faq-block {
	margin: 0;
	padding: 0;

	.otk-faq-item-block {

		.otk-faq-item-header {
			cursor: default;
			margin: 1px;

			.otk-faq-item-icon {
				cursor: pointer;
			}
		}

		.otk-faq-item-answer {
			padding: 10px;
			height: auto;
		}

	}
}
