.wp-block-otk-faq-block {
	margin: 0;
	padding: 0;

	.otk-faq-item-block {

		.otk-faq-item-header {
			cursor: default;

			.otk-faq-item-icon {
				cursor: pointer;
			}
		}

		.otk-faq-item-answer {
			height: auto;
			border-top: 0 !important;
		}

	}
}
